<!DOCTYPE html>
<html>
  <head>
    <title>refund</title>
    <link rel='stylesheet' href='../css/getmoney.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
  </head>
  <body>
    <div id="container_logo">
      <img src="images/logo123.png" id="img_logo" alt="">
    </div>
    <div id="container_title">
      <h1 id="text_title">크라우드펀딩 기부</h1>
    </div>
      <div id="container_text">
        <p>
          펀딩에 실패하셨습니다. <br>
          <br>
          지원 금액을 수령하세요.
        </p>
      </div>


      <div id="container_btn">
        <input id = "refund" type='button' class="btn_getmoney" value='환불받기' >
      </div>

      <script src="../js/jquery-3.1.1.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="js/fundresult.js"></script>
  </body>
</html>
